.container, body {
    background-color: #F0F0F0;
}

h1 {
    font-family: 'Anton', sans-serif;
}

h6 {
    font-family: 'Abel', sans-serif;
}

.rounded-pill:first-of-type {
    height: 6em;
    width: 6em;
    background-color: #E6563B;
}

.h2 {
    display: flex;
}

/*.col-lg-2 {*/
/*    width: 80%;*/
/*    border: pink 2px solid;*/
/*}*/

